.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;
    left:0px!important;
    top:0px!important;
    backdrop-filter: blur(6px)!important;
    // background-color:rgba(244, 250, 255, 0.75)!important;
    background-color:rgba(41, 45, 50, 0.60)!important;

  }
