
.tokyo_tm_section{
	position: absolute;
    top: 0px;
	bottom: 0px;
	left: 400px;
	right: 0px;
	overflow: hidden;
	overflow-y: scroll;
	opacity: 0;
	visibility: hidden;
	z-index: 8;
	transition: visibility 1s linear, opacity 0s linear;
	-moz-transition: visibility 1s linear, opacity 0s linear;
	-webkit-transition: visibility1s linear, opacity 0s linear;
	-o-transition: visibility 1s linear, opacity 0s linear;
}

.animated{
    opacity: 1;
	visibility: visible;
	z-index: 9;
}

.tokyo_tm_section::-webkit-scrollbar{
    width: 0px;
  }
  .tokyo_tm_home{
	width: 100%;
	min-height: 100vh;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

    .home_content{
        display: flex;
        flex-direction: row;
        align-items: center;
        .details{
            margin-left: 80px;
            .name{
                font-size: 55px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 14px;
                max-width: 450px;
            }
            .job{
                font-family: "Montserrat";
                font-style: italic;
                font-weight: 500;
                max-width: 450px;
                margin-bottom: 30px;
                color: #767676;
            }
        }
        .social{
            width: 100%;
            float: left;
            ul{
                margin: 0px;
                list-style-type: none;
                li{
                    margin: 0px 10px 0px 0px;
                    display: inline-block;
                    a{
                        text-decoration: none;
                        color: #000;
                        font-size: 20px;

                        -webkit-transition: all .3s ease;
                           -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                             -o-transition: all .3s ease;
                                transition: all .3s ease;
                    }
                    a:hover{
                        color: #000;
                        opacity: 0.7;
                    }
                }
                li:last-child{
                    margin-right: 0px;
                }
            }
        }


    }

    .avatar{
        min-width: 300px;
        min-height: 300px;
        position: relative;
        border-radius: 100%;

        .image{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            animation: morph 8s ease-in-out infinite 0s;
            background-blend-mode: multiply;
            -webkit-box-shadow: inset 0px 0px 0px 9px rgba(255,255,255,.3);
            -moz-box-shadow: inset 0px 0px 0px 9px rgba(255,255,255,.3);
            box-shadow: inset 0px 0px 0px 9px rgba(255,255,255,.3);
        }
        

    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
   }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }
}


@media (max-width:768px){
    .tokyo_tm_section{
        left: 0px!important;
        padding: 20px!important;
    }
    .home_content{
        flex-direction: column!important;
        margin-bottom: 40px;
        margin-top: 80px;
    }
}