.fields{
    position: absolute;
    top: 100px;
	bottom: 0px;
	left: 430px;
	right: 0px;

    input{
        width: 80%;
   padding: 20px;
	border: 1px solid rgba(0,0,0,.2);
	background-color: transparent;
	font-style: italic;
    font-family: "Montserrat";
    margin-bottom: 20px;
    }

    input:focus{
        outline: none;
	border: 1px solid rgba(0,0,0,.5);
    }

    textarea{
        width: 80%;
    font-family: "Montserrat";
    letter-spacing: 0.4px;
	border: 1px solid rgba(0,0,0,.2);
	height: 120px!important;
    padding: 20px;
    resize: none;
	margin-bottom: 20px;
	background-color: transparent;
	// font-style: italic;
    }
    textarea:focus{
        outline: none;
        border: 1px solid rgba(0,0,0,.5);
    }

    .btn-form{
        padding: 19px 40px;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: #000;
        margin-bottom: 30px;
        font-family: "Montserrat";
    }
}
.map-header{
    font-weight: 800;
    font-family: "Montserrat";
    font-size: 30px;
}

iframe{
width: 84%;
height: 400px;
margin-bottom: 40px;
}

.contact-btn{
    background-color: rgba(0,0,0,.04);
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 13px;
    color:#333;
    font-family: "Montserrat";
    border: none;
}

@media (max-width:768px){
    .fields{
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        padding: 20px;
    }

    .btn-form{
        margin-bottom: 70px!important;
    }
}

@media (max-width:1000px){

    .fields{
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        padding: 20px;
    }

}