.sidebar-container{
    width: 200px;
	height: 100vh;
	background-color: #fff;
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 12;
	padding: 0px 100px;

    .MuiSvgIcon-root{
        color: #767676;
        margin-right: 10px;
    }
}
.footer-navbar{
	overflow: hidden;
	display: none;
	justify-content: space-around;
	align-items: center;
  background-color: #333;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  width: 100%;
  z-index: 12;
  background-color: #dedede;
}
.menu, .footer-navbar{
	.active{
		color:black;
	letter-spacing: 1.7px;
	font-weight: 500;
	}
}
.nav-bar-link{
	all: unset;
}

.footer-navbar a{
	float: left;
	display: block;
	color: #767676;
	text-align: center;
	font-family: "Montserrat";
	// padding: 10px 16px;
	text-decoration: none;
	font-size: 17px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	 -ms-transition: all .3s ease;
	  -o-transition: all .3s ease;
		 transition: all .3s ease;
}

.footer-navbar{
	a:hover{
		letter-spacing: 1.7px;
		cursor:pointer;
	}
}

.top-navbar{
	overflow: hidden;
	padding: 27px;
	display: none;
	justify-content: space-between;
	align-items: center;
  background-color: #fff;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 12;
}


.sidebar{
    // width: 100%;
	height: auto;

}

.menu{
    padding: 40px 0px 50px 0px;
	width: 100%;
	float: left;
}

.menu {
    ul{
        margin: 0px;
	list-style-type: none;

    li{
        margin: 10px;
	width: 100%;
	float: left;
    span{
	color: #767676;
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	font-family: "Montserrat";
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
    }
    span:hover{
        color: #000;
	letter-spacing: 1.7px;
    cursor: pointer;
    }
    }
    }
}
.logo{
	margin-left: 50px;
    img{
        max-width: 150px;
    }
}

.copyright{
	margin-left: 50px;
	width: 100%;
	float: left;
p{
	// font-size: 15px;
	color: #999;
	font-family: "Montserrat";
	line-height: 25px;
	font-style: italic;
}
a{
	text-decoration: none;
	color: #787878;
	font-weight: 500;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
a:hover{
	color: #000;
	letter-spacing: 1.7px;
}
}


@media (max-width:768px){

	.sidebar-container{
		display: none!important;
	}
	.footer-navbar{
		display: flex!important;
	}
	.top-navbar{
		display: flex!important;
	}

 }

 @media (max-width:1000px){
	.sidebar-container{
		display: none!important;
	}
	.footer-navbar{
		display: flex!important;
	}
	.top-navbar{
		display: flex!important;
	}
 }